h1
  a(href="") momoclo stream
div(id="connections")
div(id="filters")
  input(type="checkbox", id="hako", value="ももいろクローバー|ももクロ|#momoclo", checked)
  label(for="hako")
    span(style="color: #000000") 箱
  input(type="checkbox", id="kanako", value="夏菜子", checked)
  label(for="kanako")
    span(style="color: #FF0000") 赤
  input(type="checkbox", id="momoka", value="杏果", checked)
  label(for="momoka")
    span(style="color: #00FF00") 緑
  input(type="checkbox", id="shiori", value="玉井詩織|しおりん", checked)
  label(for="shiori")
    span(style="color: #FFFF00;") 黄
  input(type="checkbox", id="ayaka", value="佐々木彩夏|あーりん", checked)
  label(for="ayaka")
    span(style="color: #FF00FF;") 桃
  input(type="checkbox", id="reni", value="高城れに|れにちゃん", checked)
  label(for="reni")
    span(style="color: #800080;") 紫
hr
div(id="tweets")
div(id="footer") created by @sugyan
