!!! 5
html
  head
    meta(charset="utf-8")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/js/jquery-1.6.2.min.js")
    script(type="text/javascript", src="/js/momoclo.js")
    link(rel="stylesheet", type="text/css", href="/css/style.css")
  body!=body
